html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    background-color: rgb(197, 207, 253);
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav {
    height: 10vh;
    background-color: #5b78c7;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav-links li a {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    nav {
        position: relative;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links {
        position: fixed;
        background: #5b78c7;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(0px at 90% 10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        padding-bottom: 190px;
    }

    .nav-links.open {
        clip-path: circle(900px at 90% 10%);
        -webkit-clip-path: circle(1000px at 90% 10%);
        pointer-events: all;
    }

    .nav-links li {
        opacity: 1;
        padding-bottom: 100px;
    }

    .nav-links li a {
        font-size: 25px;
    }

    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    li.fade {
        opacity: 1;
    }

    .slogan {
        padding-left: 40px;
        padding-top: 10px;
        font-family: 'Acme', sans-serif;
        font-size: 21px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .openPlayLink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #eef33b;
        border: 2px solid #f34036;
        border-radius: 10px;
        margin: 15px;
    }

    .openPlayLink h1 {
        padding-top: 10px;
        font-family: 'Acme', sans-serif;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .openPlayLink h2 {
        font-family: 'Acme', sans-serif;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
        padding-top: 10px;
    }

    .openPlayLink p {
        font-family: 'Acme', sans-serif;
        font-size: 15px;
        letter-spacing: 1px;
        padding-bottom: 10px;
    }

    .openPlayLink a {
        font-family: 'Acme', sans-serif;
        text-decoration: none;
        color: #5b78c7;
        padding-bottom: 10px;
    }

    .birthdayLink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #eef33b;
        border: 2px solid #f34036;
        border-radius: 10px;
        margin: 15px;
    }

    .birthdayLink h1 {
        font-family: 'Acme', sans-serif;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        padding-top: 10px;
    }

    .birthdayLink h2 {
        font-family: 'Acme', sans-serif;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .birthdayLink a {
        font-family: 'Acme', sans-serif;
        text-decoration: none;
        color: #5b78c7;
        padding-bottom: 10px;
    }

    .savingsLink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid #f34036;
        border-radius: 10px;
        background-color: #eef33b;
        margin: 15px;
    }

    .savingsLink h1 {
        font-family: 'Acme', sans-serif;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 1px;
        padding-top: 10px;
    }

    .savingsLink li {
        font-family: 'Acme', sans-serif;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .savingsLink a {
        font-family: 'Acme', sans-serif;
        text-decoration: none;
        color: #5b78c7;
        padding-bottom: 10px;
    }

    .openPlayWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #eef33b;
        border: 2px solid #f34036;
        border-radius: 10px;
        margin: 15px;
    }

    .openPlayWrapper h1 {
        font-family: 'Acme', sans-serif;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        padding-top: 10px;
        text-decoration: underline;
        color: #5b78c7;
        text-shadow:
        -1px -1px 0 whitesmoke,
        1px 1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;
    }

    .openPlayWrapper li {
        font-family: 'Acme', sans-serif;
        font-size: 17px;
        letter-spacing: 1px;
        padding-bottom: 10px;
    }

    .openPlayWrapper ul {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .price {
        font-weight: bold;
    }

    .birthdayWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #eef33b;
        border: 2px solid #f34036;
        border-radius: 10px;
        margin: 15px;
    }

    .birthdayWrapper h1 {
        font-family: 'Acme', sans-serif;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        padding-top: 30px;
        text-shadow:
        -1px -1px 0 whitesmoke,
        1px 1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;
    }

    .birthdayWrapper h2 {
        font-family: 'Acme', sans-serif;
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 1px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-style: oblique;
        text-decoration: underline;
    }

    .birthdayWrapper li {
        font-family: 'Acme', sans-serif;
        font-size: 17px;
        letter-spacing: 1px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-top: 10px;
    }

    .birthdayWrapper p {
        font-family: 'Acme', sans-serif;
        font-size: 17px;
        letter-spacing: 1px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 5px;
        padding-top: 5px;
    }

    .birthdayHeader {
        text-decoration: underline;
        color: #5b78c7;
        font-size: 20px;
        text-shadow:
        -1px -1px 0 whitesmoke,
        1px 1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;
    }

    .birthdayWrapper h3 {
        padding-top: 20px;
        font-weight: bold;
        font-size: 20px;
        color: #f34036;
        text-decoration: underline;
        text-shadow:
        -1px -1px 0 whitesmoke,
        1px 1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;
    }

    .birthdayWrapper ul {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .birthdayWrapper h4 {
        padding-top: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 5px;
        font-weight: bold;
        font-size: 19px;
    }

    .menuOption {
        font-style: oblique;
    }

    .contactWrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #eef33b;
        border: 2px solid #f34036;
        border-radius: 10px;
        margin: 15px;
    }

    .contactWrapper h1 {
        font-family: 'Acme', sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #5b78c7;
        letter-spacing: 1px;
        padding-top: 30px;
        padding-left: 120px;
        text-shadow:
        -1px -1px 0 whitesmoke,
        1px 1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;
    }

    .contactWrapper h2 {
        font-family: 'Acme', sans-serif;
        font-size: 17px;
        font-weight: bold;
        letter-spacing: 1px;
        padding-top: 10px;
        padding-right: 50px;
        padding-left: 50px;
        font-style: oblique;
    }

    .contactEmail {
        padding-bottom: 30px;
    }

    .contactForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #eef33b;
        border: 2px solid #f34036;
        border-radius: 10px;
        margin: 15px;
        padding-top: 30px;
        padding-right: 50px;
        padding-left: 75px;
        padding-bottom: 30px;
    }

    .contactForm h1 {
        font-family: 'Acme', sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #5b78c7;
        letter-spacing: 1px;
        padding-left: 50px;
        padding-bottom: 20px;
        text-shadow:
        -1px -1px 0 whitesmoke,
        1px 1px 0 whitesmoke,
        -1px 1px 0 whitesmoke,
        1px 1px 0 whitesmoke;
    }

    .contactForm input {
        margin-bottom: 5px;
        border: 2px solid #5b78c7
    }

    .submitButton {
        margin-top: 5px;
        margin-bottom: 30px;
        background-color: #5b78c7;
        color: whitesmoke;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .contactForm textarea {
        border: 2px solid #5b78c7;
    }
}